@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body {
  background: linear-gradient(#831588, #323770);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

form {
  color: #fff;
  text-align: center;
  border: 5px solid white;
  width: 30vw;
  padding: 20px;
  border-radius: 20px;
}

form input {
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 20px;
  border: 3px solid white;
  padding: 10px;
  background-color: purple;
  font-weight: bold;
  color: bold;
  width: 90%;
}

.input-font {
  background-color: purple;
  font-weight: bold;
  color: white;
}

input:focus {
  outline: none;
}
.check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="checkbox"] {
  margin: 0;
  margin-left: 10px;
  width: 10%;
  cursor: pointer;
}

input.btn {
  width: 50%;
  min-width: max-content;
  margin-top: 20px;
  color: #fff;
}

::placeholder {
  /* Chrome, firefox, Opera, safari */
  color: #fff;
  opacity: 0.5;
  letter-spacing: 0.5px;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
  opacity: 0.5;
  letter-spacing: 0.5px;
}
